body, html {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  background: #1a2865;
  color: #ff7e00;
}

.container {
  display: flex;
  flex-flow: column;
  padding: 20px;
}

#title {
  text-align: center;
  font-size: 2.5rem;
  color: 	#ff749e;
}

#btn-bank {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
  justify-content: center;
}

/* Search Form */
#search-form {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  flex-flow: row wrap;
}

#search-form #search-term {
  display: block;
  width: 75%;
  box-sizing: border-box;
  outline: none;
  border: 2px solid #31d9a5;
  padding: 10px 15px;
  background: transparent;
  font-size: 12pt;
  margin-bottom: 3px;
  color: #fff;
}

#search-form #search-btn {
  font-size: 1.2rem;
  background: transparent;
  color: #31d9a5;
  border: 2px solid #31d9a5;
  border-radius: 0px;
  margin: 0 0 3px 0;
  padding: 0px 10px;
}

/* Buttons */
.word-btn {
  font-size: 1.2rem;
  background: transparent;
  color: #31d9a5;
  border: 2px solid #31d9a5;
  border-radius: 5px;
  margin: 2.5px 5px;
}

.gif-img {
  max-width: 100%;
  margin: 5px 0px;
}


@media only screen and (min-width: 768px) {
  body {
  }
  #gif-bank {
    display: flex;
    flex-flow: row wrap;
  }
  .gif {
    margin: 0 5px;
  }
  #search-form #search-term {
    display: block;
    width: 40%;
  }

  #search-form #search-btn {
    border-radius: 0px;
    margin: 0 0 3px 0;
    padding: 0px 10px;
  }
}
