body, html {
  height: 100%;
}

body {
  background: #62a1a9;
}

.container {
  display: flex;
  flex-flow: column;
  padding: 20px;
}

#title {
  text-align: center;
  font-size: 2.5rem;
}

#btn-bank {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
  justify-content: center;
}

#gif-bank {
}

#search-form {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

#search-form #search-term {
  border: 2px solid black;
}

#search-form #search-btn {
  border: 2px solid black;
}

.word-btn {
  border: 2px solid black;
  border-radius: 5px;
  margin: 2.5px 5px;
}

.gif-img {
  max-width: 100%;
  margin: 5px 0px;
}

@media only screen and (min-width: 576px) {
  body {
    color:blue;
  }
}

@media only screen and (min-width: 768px) {
  body {
    color:red;
  }
  #gif-bank {
    display: flex;
    flex-flow: row wrap;
  }
  .gif {
    margin: 0 5px;
  }
}

@media only screen and (min-width: 992px) {
  body {
    color:yellow;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    color:green;
  }
}
